html {
   width: $html-width;
   height: $html-height;
   margin: auto
}

*{
   @extend %font-primary;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: all 0.3s ease-in-out;
}

body{
   margin: 0;
   background-color: $color-background;
}

.main-wrapper{
   background-color: $color-background;
   position: relative;
   width: $html-width;
}

.container {
   width: $content-width;
   margin: 0 auto;
   padding-top: 50px;
   text-align: center;
}