.navigation_buttons{
   width: $nav-buttons-width;
   margin: 70px auto 100px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav_button {
   width: 260px;
   height: 60px;
   background: $color-white;
   border: $border;
   border-radius: 15px;
   text-align: center;
   padding: 16px 0;
   cursor: pointer;

   &_search{
      padding-left: 29px;
      padding-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &_btn{
      width: 200px;
   }
}

.button_text{
   @include font($size: 24px, $height: 28px, $weight: 700);
}