.offcanvas {
   position: absolute;
   top: 0;
   left: -100%;
   gap: 50px;
}

.active {
   left: 1380px;
   box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

.off-canvas_cards {
   width: $offcanvas-width;
   height: 1715px;
   position: relative;
   background-color: $color-offcanvas-bg;
   padding: 100px 115px 0 114px;
   overflow: hidden;
   gap: 50px;
   border: $border;
}